/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .header-logo{
    font-size:30px;
  }
  .header-list{
    font-size: 10px;
  }
  .judul-tim h1{font-size:32px}
  .sosmed {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .bottom-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
.sosmed p {
	width: 50%
}
.Member-1 {
  width: 50%;
  margin-bottom: 50px;
}

.Member-2 {
    width: 50%;
    margin-bottom: 50px;
  }
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {
  header {width:100%}
  .header-list{
		display:none;
	}
	.menu-icon{
		display:block;
	  }

    .top-wrapper {width:100%;text-align: left;}
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    .jelasin-dong {width:50%}

    .middle-main {width:100%}
  .sosmed {
    width: 100%;
  }
  .Member-1 {
    width: 100%;
  }

  .Member-1 {
      width: 100%;
    }
    .bottom-wrapper {width:100%}
    footer {width:100%}
}
