/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .header-logo{
    font-size:30px;
  }
  .header-list{
    font-size: 10px;
  }
  .judul-tim h1{font-size:32px}
  .judul-tim span {font-size:34px}
  .bungkus {width:100%}
  .jelasin-dong {font-size:24px}
  .jelasin-2 span {font-size:12px;font-weight:normal}
  .judul-tim p {width:100%}
  .sosmed {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .bottom-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
.sosmed p {
	width: 50%
}
.Member-1 {
  width: 50%;
  margin-bottom: 50px;
}

.Member-2 {
    width: 50%;
    margin-bottom: 50px;
  }
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {
  header {width:100%}
  .header-list{
		display:none;
	}
	.menu-icon{
		display:block;
	  }

    .top-wrapper {width:100%;text-align: left;padding-bottom:1000px;
      height:1500px;
    }
    .judul-tim h1 {
      font-size: 24px;
      line-height: 36px;
    }
    .judul-tim span {
      font-size: 26px;
      line-height: 36px;
    }
    .judul-tim p {
      font-size: 14px;
      line-height: 20px;text-align:left;padding:0%
    }
    .bungkus {width:100%;padding-bottom:100px;}
    .jelasin-dong {width:100%;font-size: 14px;
      line-height: 20px;text-align:left}
      .jelasin-1 p{padding:0%}
      .jelasin-2 p {padding:0%}
      .jelasin-1 {
        width:100%;
      }
      .jelasin-2 {
        width:100%
      }

    .middle-main {width:100%}
    .kotak {width:100%;}
  .sosmed {
    width: 100%;
  }
  .Member-1 {
    width: 100%;
  }

  .Member-1 {
      width: 100%;
    }
    .text-contents {padding-bottom:100px;padding-right:0px;padding-left:0px}
    .bottom-wrapper {width:100%}
    footer {width:100%}
}
