/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .header-logo{font-size:30px;}
  .header-list{font-size: 10px;}

  .judul-tim h1{font-size:32px}
  .judul-tim span {font-size:34px}
  .bungkus {width:100%}
  .jelasin-dong {font-size:24px}
  .jelasin-2 span {font-size:12px;font-weight:normal}
  .judul-tim p {width:100%}

  .middle-main {width: 100%;}
  .kop h2 {width:100%}
  .kotak {width:100%}
  .Member-1 h3 {padding-top:100px}
  .Member-2 h3 {padding-top :100px}

  .sosmed {width: 50%;margin-bottom: 50px;}
  .bottom-wrapper h1 {font-size: 32px;}
  .heading h2 {font-size: 20px;}
  .sosmed p {width: 50%}
  .Member-1 {width: 50%}
  .Member-2 {width: 50%;}
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {
  header {width:100%;padding-bottom:50px}
  .header-list{display:none;}
	.menu-icon{display:block;font-size:20px;}
    .top-wrapper {width:100%;text-align: left;padding-bottom:700px;
      height:500px;}
    .judul-tim h1 {
      font-size: 24px;
      line-height: 36px;}
    .judul-tim span {
      font-size: 26px;
      line-height: 36px;}
    .judul-tim p {
      font-size: 14px;
      line-height: 20px;text-align:left;padding:0%}
    .bungkus {width:100%;padding-bottom:100px;}
    .jelasin-dong {width:100%;font-size: 14px;
      line-height: 20px;text-align:left}
      .jelasin-1 p{padding:0%}
      .jelasin-2 p {padding:0%}
      .jelasin-1 {width:100%;}
      .jelasin-2 {
        width:100%
      }

    .middle-main {width:100%;padding-bottom: 200px;}
    .kotak {width:100%;}
  .sosmed {
    width: 100%;
  }
  .Member-1 {
    width: 100%;
  }
  .Member-1 h3 {width:100%;margin-right:0px;margin-left:0px;padding-left:10px;}
  .Member-2 h3 {width:100%;margin-right:0px;margin-left:0px;padding-left:10px}
  .Member-2 {
      width: 100%;
    }
    .Member-img-1 {padding-bottom: 10px;}
    .Member-img-2 {padding-bottom: 10px;}
    .text-contents {width:100%;
      padding-bottom:100px;padding-right:0px;padding-left:0px;
      font-size: 14px;
      line-height: 20px;margin-right:0px;margin-left:0px}
    .bottom-wrapper {width:100%}
    footer {width:100%;padding-top:10px}
}
